networks:  
  ckan-padre-net:
    name: ckan-padre-net
    driver: bridge 
  ckan-shared-net:
    external: true
    name: ckan-shared-net 

volumes:
  pg_data:
  solr_data:
  ckan_storage:
  pip_cache:
  site_packages:

services:

  db:
    networks:
      ckan-padre-net:
          aliases:
            - ckan-padre
    build:
      context: postgresql/
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - CKAN_DB_USER
      - CKAN_DB_PASSWORD
      - CKAN_DB
      - DATASTORE_READONLY_USER
      - DATASTORE_READONLY_PASSWORD
      - DATASTORE_DB
    env_file:
      - .env  
    volumes:
      - pg_data:/var/lib/postgresql/data    
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_PASSWORD}"]    

  solr:
    networks:
      ckan-padre-net:
        aliases:
          - ckan-padre 
    image: ckan/ckan-solr:2.10-solr9
    volumes:
      - solr_data:/var/solr
    
    healthcheck:
      test: ["CMD", "curl", "-f", "http://solr:8983/solr"]
      interval: 10s
      timeout: 5s
      retries: 5  

  redis:
    networks:
      ckan-padre-net:
          aliases:
            - ckan-padre
    image: redis:7    
    healthcheck:
      test: ["CMD", "redis-cli", "-e", "QUIT"]    

  ckan:
    networks:
      ckan-padre-net:
        aliases:
          - ckan-padre
      ckan-shared-net:
        aliases:
          - ckan-shared-net
    build:
      context: .
      dockerfile: ./ckan/Dockerfile
    image: harvest:2.11  
    ports:
    - "5001:5000"
    depends_on:
      db:
        condition: service_healthy
      solr:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./ckan/ckan.ini:/srv/app/ckan.ini
      - ./ckan/src/ckan/ckan/templates/header.html:/srv/app/src/ckan/ckan/templates/header.html
      - ./ckan/setup/harvest_migrated.py:/srv/app/harvest_migrated.py
      - ckan_storage:/var/lib/ckan
      - pip_cache:/root/.cache/pip
      - site_packages:/usr/lib/python3.10/site-packages 
    restart: unless-stopped 
    env_file:
      - .env   
    healthcheck:
      test: ["CMD", "wget", "-qO", "/dev/null", "http://ckan:5000/api/3/action/status_show"]
      interval: 60s
      timeout: 10s
      retries: 3  

  worker:
    networks:
      ckan-padre-net:
        aliases:
          - ckan-padre
    build:
      context: .
      dockerfile: ./ckan/Dockerfile
    image: harvest:2.11    
    command: ckan jobs worker
    depends_on:
      ckan:
        condition: service_healthy
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./ckan/ckan.ini:/srv/app/ckan.ini    
    env_file:
      - .env   
    restart: unless-stopped  
    healthcheck:
      test: ["CMD", "wget", "-qO", "/dev/null", "http://ckan:5000/api/3/action/status_show"]
      interval: 60s
      timeout: 10s
      retries: 3   


  ckan-gather:
    networks:
      ckan-padre-net:
        aliases:
          - ckan-padre
    build:
      context: .
      dockerfile: ./ckan/Dockerfile
    image: harvest:2.11 
    depends_on:
      ckan:
        condition: service_healthy
      db:
        condition: service_healthy
      redis:
        condition: service_healthy  
    command: ckan -c /srv/app/ckan.ini harvester gather-consumer    
    volumes:
      - ./ckan/ckan.ini:/srv/app/ckan.ini    
    env_file:
      - .env   
    restart: unless-stopped  
    healthcheck:
      test: ["CMD", "wget", "-qO", "/dev/null", "http://ckan:5000/api/3/action/status_show"]
      interval: 60s
      timeout: 10s
      retries: 3

  ckan-fetch:
    networks:
      ckan-padre-net:
        aliases:
          - ckan-padre
    build:
      context: .
      dockerfile: ./ckan/Dockerfile
    image: harvest:2.11
    depends_on:
      ckan:
        condition: service_healthy
      db:
        condition: service_healthy
      redis:
        condition: service_healthy 
    command: ckan -c /srv/app/ckan.ini harvester fetch-consumer
    volumes:
      - ./ckan/ckan.ini:/srv/app/ckan.ini    
    env_file:
      - .env   
    restart: unless-stopped  
    healthcheck:
      test: ["CMD", "wget", "-qO", "/dev/null", "http://ckan:5000/api/3/action/status_show"]
      interval: 60s
      timeout: 10s
      retries: 3  
  nginx:
    networks:
      ckan-padre-net:
        aliases:
          - ckan-padre
    build:
      context: nginx/
      dockerfile: Dockerfile
    volumes:
      - ./nginx/setup/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports:
      - "8443:443"
    depends_on:
      ckan:
        condition: service_healthy
   
